// Import variables
@import "./common/variables";

// Import everything from autoload
@import "./autoload/**/*";

$main-breakpoint: md;

body {
  margin: 0;
  font-family: 'Lato', -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: left;
  background-color: #fff;
}

a {
  &, &:visited {
    color: $pchc-blue;
    text-decoration: none;
  }

  &:hover {
    color: lighten($pchc-blue, 10%);
    text-decoration: underline;
  }
}

#app {
  display: flex;
  flex-direction: column;
}

section {
  padding: 6rem 3vw 0;

  @include media-breakpoint-up($main-breakpoint) {
    padding-top: 13vw;
  }
}

h2 {
  margin: 0 auto;
  font-weight: 200;
  font-size: calc(1rem + 3vw);
  line-height: 1.5;
  text-align: center;
  letter-spacing: 0.05em;
  text-transform: uppercase;
  border-bottom: 1px solid #424242;
}

p {
  margin-top: 1em;
  margin-bottom: 1em;
  font-size: calc(1rem + 0.5vw);
}

img, svg {
  max-width: 100%;
  height: auto;
}

header {
  height: 6rem;
  z-index: 100;

  @include media-breakpoint-up($main-breakpoint) {
    height: auto;
  }
}

nav {
  background: #eee;
  position: fixed;
  width: 100%;
  background: rgba(#fff, 0.95);
  box-shadow: rgba(0, 0, 0, 0.12) 0px 1px 6px, rgba(0, 0, 0, 0.12) 0px 1px 4px;

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-around;

    @include media-breakpoint-up($main-breakpoint) {
      flex-direction: row;
      align-items: center;

      @for $i from 1 through 5 {
        li:nth-child(#{$i}) {
          order: calc(#{$i} - 1);
        }
      }
    }
  }

  a {
    display: block;
    line-height: 1;
    margin: 0 0.5em;
    padding: 0.5em 1em;
    transition: color 0.15s ease-out;

    &:hover {
      color: $pchc-red;
      text-decoration: none;
    }

    @include media-breakpoint-up($main-breakpoint) {
      font-weight: 700;
      text-transform: uppercase;
      font-size: 1.1rem;
      letter-spacing: 0.05em;
    }
  }

  li {
    display: none;

    @include media-breakpoint-up($main-breakpoint) {
      display: block;
      flex: 0 1 17.5%;
      text-align: center;
    }
  }

  .logo {
    flex: 1 1 100%;
    display: block;

    a {
      margin: 0;
      padding: 0;
      height: 6rem;
      display: block;
      max-width: 15rem;

      @include media-breakpoint-up($main-breakpoint) {
        height: auto;
        max-width: none;
      }
    }

    svg {
      margin: 1rem;

      @include media-breakpoint-up($main-breakpoint) {

      }
    }

    @include media-breakpoint-up($main-breakpoint) {
      flex: 0 2 30%;

      @at-root {
        nav ul li:first-child {
          order: 3;
        }
      }
    }
  }

  button.hamburger {
    position: absolute;
    top: 1rem;
    right: 0;
    z-index: 10;
    outline: none;

    @include media-breakpoint-up($main-breakpoint) {
      display: none;
    }
  }

  &.is-active {
    height: 100vh;

    ul {
      flex-direction: column;
      flex-wrap: nowrap;
      height: calc(100vh - 6rem);
      justify-content: space-between;
    }

    li {
      display: block;
    }

    .logo {
      flex: 0 1 auto;
    }

    a {
      font-size: 2rem;
      font-weight: 300;
      text-align: center;
    }
  }
}

#video {
  padding: 0;
  height: 0;
  padding-top: 56.25%;
  position: relative;
  overflow: hidden;

  &::before {
    padding-top: 56.25%;
    display: block;
    content: "";
  }

  iframe {
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    position: absolute;
    border: 0;
    //top: 50%;
    //left: 50%;
    //transform: translate(-50%, -50%);
  }
}

.timeline {
  $timelineColor: #424242;

  @include media-breakpoint-up($main-breakpoint) {
    position: relative;
    z-index: 1;

    &::before {
      content: "";
      display: block;
      position: absolute;
      z-index: 1;
      width: 2px;
      background: $timelineColor;
      top: 0;
      bottom: 0;
      left: 50%;
      transform: translateX(-1px);
    }
  }

  &__row {
    display: flex;
    flex-direction: column;

    &:hover {
      .timeline__image img {
        box-shadow:
          0 16px 24px 2px rgba(0,0,0,0.14), 0 6px 30px 5px rgba(0,0,0,0.12), 0 8px 10px -5px rgba(0,0,0,0.3);
        transform: translateY(-0.5rem);
      }
    }

    @include media-breakpoint-up($main-breakpoint) {
      position: relative;
      z-index: 2;
      flex-direction: row;
      flex-wrap: nowrap;
      justify-content: center;
      align-items: center;
      margin: 0 auto;

      > div {
        width: 50%;
      }

      &:nth-child(even) {
        flex-direction: row-reverse;

        .timeline__image {
          &::after {
            left: 0;
            right: 50%;
          }
        }

        .timeline__content {
          h3 {
            text-align: right;
          }
        }
      }
    }
  }

  &__image {
    order: -1;
    padding: 2rem 4rem 0;

    img {
      display: block;
      margin: 0 auto;
      border-radius: 50%;
      border: 0.5rem solid #fff;
      box-shadow:
        0 8px 10px 1px rgba(0,0,0,0.14), 0 3px 14px 2px rgba(0,0,0,0.12), 0 5px 5px -3px rgba(0,0,0,0.3);
      transition: all 0.15s ease-out;
    }

    @include media-breakpoint-up($main-breakpoint) {
      position: relative;
      z-index: 1;
      padding: 4rem;

      &::after {
        content: "";
        display: block;
        position: absolute;
        z-index: 1;
        left: 50%;
        right: 0;
        top: 50%;
        height: 1px;
        background-color: $timelineColor;
      }

      img {
        position: relative;
        z-index: 2;
      }
    }
  }

  &__content {
    margin-bottom: 2rem;

    h3 {
      text-align: center;
    }

    p {
      text-align: justify;
    }

    @include media-breakpoint-up($main-breakpoint) {
      padding: 3rem;
      margin: 0;

      h3 {
        text-align: left;
      }
    }
  }
}

#present {
  background: $pchc-blue;
  color: #fff;

  h2 {
    border-color: #fff;
  }
}

.stats {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
  flex-wrap: wrap;

  &__block {
    padding: 2vw;
    flex: 0 1 50%;

    @include media-breakpoint-up($main-breakpoint) {
      flex: 0 1 auto;
    }
  }

  &__stat,
  &__label {
    display: block;
    text-align: center;
  }

  &__stat {
    font-weight: 900;
    font-size: calc(1rem + 3vw);
  }

  &__label {
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    line-height: 1.15;
  }
}

.services {
  h3 {
    @extend h2;
    font-size: calc(1rem + 2vw);
  }

  ul,
  li {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 3vw 0;
  }

  li {
    transition: opacity 0.15s ease-out;

    a {
      display: block;
      color: #fff;
      font-size: 1.2rem;
      font-weight: 300;
      line-height: 1.1;
      padding: 0.75em 1em;
      margin: 1vw;
      background: rgba(#fff, 0.1);
      border-radius: 0.25em;
      transition: all 0.15s ease-out;

      &:hover {
        text-decoration: none;
        color: $pchc-red;
        background: #fff;
      }
    }
  }
}
